body{
    width: 100%;
    align-items: center;
    height: 100%;
    font-family: 'Overpass', sans-serif;
    background-color: rgba(198, 193, 170, 0.3);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
    border-radius: 10%;
    align-self: center;
    margin: 80px auto;
    background: rgba(198, 193, 170, 0.3);
}

.title{
    text-align: center;
    padding-bottom: 50px;
}



.home-page{
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}

.child-list{
    display:content;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
    padding-top: 280px;
    text-align: center;
}


button:hover{
    color:rgba(0, 151, 19, .5);
}

.list{
    align-items: center;
    color: #354f52;
    font-size: 25px;
}

.list:hover{
    color:rgba(0, 151, 19, .5)
}

