<!DOCTYPE html>

<html lang="en">

    <link rel='stylesheet' href='/stylesheets/chores.css' type="text/css">

    <head>

    </head>
    



            <main>
                <div class="container">


                 
<table class="table table-striped table-primary">
    <thead>
      <tr>
        <th>Chore</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <%if (chores.length >0){ %>
      <% chores.forEach(function(chore){ %>
      <tr>
        <td><%= chore.name %></td>
        <td><%= chore.price %></td>
        
      </tr>
      <% })}else{ %>
        <tr>
            <td colspan="6">No Chores Found</td>
            
          </tr>
        <% } %>
    </tbody>
  </table>

                    


    </div>

</main>


</body>

</html>