<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcifer-homepage</title>

    <meta charset="utf-8">


    <meta name="description" content="">

    <link rel='stylesheet' href='/stylesheets/home.css' type="text/css">



</head>

    <body>
    
        <header>
            <%- include('../partials/header'); %>
          </header>
    
    <main>

      <div class="container">

        <h1 class="title">Welcome</h1>

        <p class="home-page">Click a photo to view chores!</p>
    
        <ul class="child-list">

          <% children.forEach(function(child) { %>

            <li class="child">

              <a class="list" href="/chores"><%= child.name %></a>
    
            </li>

          <% }); %>

        </ul>

        
      </div>

    </main>
    


  </body>




</html>