<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->

    <title>Calcifer-homepage</title>


    <meta name="description" content="">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/home.css' type="text/css">

</head>


<body>

    <header>
        <%- include('../partials/header'); %>
      </header>
      

    <div class="container">

        <% let User = 'User'; %>

        <% inputText.forEach((text) =>{ %>
            <p><%= text %></p>
         <% }) %>

         <% if (User) {%>

        <h3 class="title">Hello, <%= User.name %>! click a photo to view your chores</h3>


        
        <% let Child = 'child-list'; %>

          
        <ul class="children">

            <% if (Child) {%>

            <li class='child-list'> 

                <a><%= Child.name %>!</a>

            </li>

        </ul>

        <%}%>



     <% } else { %>

            <h1>Please log in or <a href="/sign-up">sign up.</a></h1>

            <form action="/log-in" method="POST">

              <label for="username">Username</label>

              <input name="username" placeholder="username" type="text" />

              <label for="password">Password</label>

              <input name="password" type="password" />

              <button>Log In</button>

            </form>

          <%}%>


    </div>

   

  


  </body>




</html>