<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>Calcifer</title>

 
  <!-- <link rel='stylesheet' href='/stylesheets/login.css' type="text/css"> -->

</head>


<body>
  

  <h1>Hope dis works!</h1>


  <form action="" method="post">

    <label for="username">Username</label>

    <input name="username" placeholder="username" type="text" />

    <label for="password">Password</label>

    <input name="password" type="password" />
    
    <button>Login!</button>



  </form>

</body>

</html>