<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>Calcifer</title>

 
  <link rel='stylesheet' href='/stylesheets/register.css' type="text/css">

</head>


<body>
  
    <h1>Sign Up</h1>
 
  

    <form action="/home" method="post" name="sign_Form" class="form-signup">

    <label for="username">Username</label>

    <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />

    <input type="password" id="pass-form" class="form-control" name="password" placeholder="Password" required=""/>


    <button>Sign up</button>

  </form>
  



</body>

</html>